    

<!DOCTYPE html>
<!--[if lt IE 9 ]> <html class="lt_ie9"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>MVC HABER</title>

    <!-- Standard Favicon -->
    <link rel="icon" type="image/x-icon" href="~/mvchaber/images//favicon.ico" />

    <!-- For iPhone 4 Retina display: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/mvchaber/images//apple-touch-icon-114x114-precomposed.png">

    <!-- For iPad: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/mvchaber/images//apple-touch-icon-72x72-precomposed.png">

    <!-- For iPhone: -->
    <link rel="apple-touch-icon-precomposed" href="~/mvchaber/images//apple-touch-icon-57x57-precomposed.png">

    <!-- Library - Google Font Familys -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i,https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/mvchaber/revolution/css/settings.css">
    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" type="text/css" href="~/mvchaber/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="~/mvchaber/revolution/css/navigation.css">

    <!-- Library -->
    <link rel="stylesheet" type="text/css" href="~/mvchaber/libraries/lib.css">

    <!-- Custom - Theme CSS -->
    <link rel="stylesheet" type="text/css" href="~/mvchaber/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="~/mvchaber/css/navigation-menu.css">
    <link rel="stylesheet" type="text/css" href="~/mvchaber/css/shortcode.css">
    <link rel="stylesheet" type="text/css" href="~/mvchaber/style.css">

    <!--[if lt IE 9]>
        <script src="js/html5/respond.min.js"></script>
    <![endif]-->

</head>

<body data-offset="200" data-spy="scroll" data-target=".ow-navigation">
    <div class="main-container">
        <!-- Loader -->
        <div id="site-loader" class="load-complete">
            <div class="loader">
                <div class="loader-inner ball-clip-rotate">
                    <div></div>
                </div>
            </div>
        </div><!-- Loader /- -->
        <!-- Header Section -->
        @RenderBody()

        <!-- Footer Section -->
        <footer class="container-fluid no-padding footer-main">
            <!-- Social Block -->
            <div class="container-fluid no-padding social-block">
                <!-- Container -->
                <div class="container">
                    <h4>İLETİŞİME GEÇEBİLİRSİNİZ</h4>
                    <ul>
                        <li><a href="#" title=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div><!-- Container /- -->
            </div><!-- Social Block /- -->


        </footer><!-- Footer Section /- -->

    </div>

    <!-- JQuery v1.12.4 -->
    <script src="~/mvchaber/js/jquery-1.12.4.min.js"></script>

    <!-- Library - Js -->
    <script src="~/mvchaber/libraries/lib.js"></script>

    <!-- RS5.0 Core JS Files -->
    <script type="text/javascript" src="~/mvchaber/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/mvchaber/revolution/js/extensions/revolution.extension.video.min.js"></script>

    <!-- Library - Theme JS -->
    <script src="~/mvchaber/js/functions.js"></script>

</body>
</html>
