           <!-- Recent Reviews Thumb -->
<div class="col-md-5 col-sm-6 col-xs-6 rcnt-review-right">
    <div class="rcnt-review-thumb">
        <div class="entry-cover">
            <a href="#"><img src="img/akdeniz.jpg" alt="Reviews" /></a>
            <div class="rcnt-category"><a href="#">Gezi</a></div>
        </div>
        <h3 class="entry-title"><a href="#">Turizm kenti Antalya'da, 2021 için belirlenen 9 milyon turist hedefine yıl dolmadan ulaşıldığı açıklandı.</a></h3>
        
    </div>
    <div class="rcnt-review-thumb">
        <div class="entry-cover">
            <a href="#"><img src="img/dogalgaz.jpg" alt="Reviews" /></a>
            <div class="rcnt-category"><a href="#">Yaşam</a></div>
        </div>
        <h3 class="entry-title"><a href="#">DOĞALGAZ DESTEĞİ YARDIMI NE KADAR, KAÇ TL OLACAK?</a></h3>
        
    </div>
    <div class="rcnt-review-thumb">
        <div class="entry-cover">
            <a href="#"><img src="img/gs.jpg" alt="Reviews" /></a>
            <div class="rcnt-category"><a href="#">Spor</a></div>
        </div>
        <h3 class="entry-title"><a href="#">Hatayspor: 4 - Galatasaray: 2 MAÇ SONUCU</a></h3>
        
    </div>
</div><!-- Recent Reviews Thumb /- -->
