@model ProductsListViewModel



<div class="what-hot-block">
    <div class="row">
        <div class="col-md-4">
            <div class="section-header section-header2">
                <h6>GÜNCEL </h6>
                <h3>HABERLER</h3>
            </div>
        </div>
        <div class="col-md-8 post-categorey">
            <ul id="filters">
                <li><a data-filter="*" class="active" href="#" title="All">Tümü</a></li>
                <li><a data-filter=".teknoloji" href="#" title="Fashion">Teknoloji</a></li>
                <li><a data-filter=".spor" href="#" title="Sports">Spor</a></li>
                <li><a data-filter=".gezi" href="#" title="Science">Gezi</a></li>
                <li><a data-filter=".yasam" href="#" title="Nature">Yaşam</a></li>
                <li><a data-filter=".eglence" href="#" title="Nature">Eğlence</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row whats-post">
            <div class="col-md-4 col-sm-6 col-xs-4 what-box yasam">

                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="/img/deprem.jpg" alt="Post" /></a></div>
                    <div class="entry-header">
                        <span><a href="#" class="color-2">Yaşam</a></span>
                        <h3 class="entry-title"><a href="#">Ege Denizi'nde 4,2 büyüklüğünde deprem meydana geldi.</a></h3>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4 what-box teknoloji ">
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="~/img/telefon.jpg" alt="Post" /></a></div>
                    <div class="entry-header">
                        <span><a href="#" class="color-3">Teknoloji</a></span>
                        <h3 class="entry-title"><a href="#">Samsung Electronics, Galaxy S21 serisinin yeni üyesi Galaxy S21 FE 5G'yi tanıttı.</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4 what-box spor">
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="/img/gshatay.jpg" alt="Post" /></a></div>
                    <div class="entry-header">
                        <span><a href="#" class="color-1">Spor</a></span>
                        <h3 class="entry-title"><a href="#">Hatayspor: 4 - Galatasaray: 2 MAÇ SONUCU</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4 what-box gezi">
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="/img/akdeniz.jpg" alt="Post" /></a></div>
                    <div class="entry-header">
                        <span><a href="#" class="color-1">Gezi</a></span>
                        <h3 class="entry-title"><a href="#">Turizm kenti Antalya'da, 2021 için belirlenen 9 milyon turist hedefine yıl dolmadan ulaşıldığı açıklandı.</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4 what-box eglence">
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="/img/ego.jpg" alt="Post" /></a></div>
                    <div class="entry-header">
                        <span><a href="#" class="color-1">Eğlence</a></span>
                        <h3 class="entry-title"><a href="#">EGO şoförünün köpekle eğlenceli anları kamerada</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4 what-box yasam">
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="/img/dogalgaz.jpg" alt="Post" /></a></div>
                    <div class="entry-header">
                        <span><a href="#" class="color-1">Yaşam</a></span>
                        <h3 class="entry-title"><a href="#">DOĞALGAZ DESTEĞİ YARDIMI NE KADAR, KAÇ TL OLACAK?</a></h3>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-4 what-box yasam">
                <div class="type-post">
                    <div class="entry-cover"><a href="#"><img src="/img/istanbul.jpg" alt="Post" /></a></div>
                    <div class="entry-header">
                        <span><a href="#" class="color-1">Yaşam</a></span>
                        <h3 class="entry-title"><a href="#">UKOME toplantısında, İstanbul'da ulaşıma zam teklifi kabul edilmedi</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </div>
   
</div><!-- What's Hot /- -->
