<!-- Widget: Categories -->
<aside class="widget widget_categories">
    <h3 class="widget-title">KATEGORİLER</h3>
    <ul>
        <li class="cat-item"><a href="/Haberler/Teknoloji" title="Business">Teknoloji</a></li>
        <li class="cat-item"><a href="/Haberler/Yasam" title="Lifestyle">Yaşam</a></li>
        <li class="cat-item"><a href="/Haberler/Gezi" title="Travel">Gezi</a></li>
        <li class="cat-item"><a href="/Haberler/Spor" title="Sports">Spor</a></li>
        <li class="cat-item"><a href="/Haberler/Eglence" title="Entertainment">Eğlence</a></li>
        
    </ul>
</aside><!-- Widget: Categories /- --